<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}HR SUPERSHOP{% endblock %}</title>
        {% block stylesheets %}
          <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
          <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
          <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />
          <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
          <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
      <div id="main-wrapper">
        {% block header %}
          <header id="header" class="header-style-1">
            <div class="header-top-bar">
              <div class="container">
                <!-- Header Language -->
                <div class="header-language clearfix">
                  <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
          					<li><a href="#" class="fa fa-twitter"></a></li>
          					<li><a href="#" class="fa fa-linkedin"></a></li>
          					<li><a href="#" class="fa fa-google-plus"></a></li>
          					<li><a href="#" class="fa fa-pinterest"></a></li>
          					<li><a href="#" class="fa fa-dribbble"></a></li>
                  </ul>
                </div>
                 <!-- end .header-language -->
                <!-- Header Register -->
                <div class="header-register">
                  <a href="#" class="btn btn-link">Register</a>
                  <div>
                    <form action="#">
                      <input type="text" class="form-control" placeholder="Username">
                      <input type="email" class="form-control" placeholder="Email">
                      <input type="password" class="form-control" placeholder="Password">
                      <input type="submit" class="btn btn-default" value="Register">
                    </form>
                  </div>
                </div> <!-- end .header-register -->
                <!-- Header Login -->
                <div class="header-login">
                  <a href="#" class="btn btn-link">Login</a>
                  <div>
                    <form action="#">
                      <input type="text" class="form-control" placeholder="Username">
                      <input type="password" class="form-control" placeholder="Password">
                      <input type="submit" class="btn btn-default" value="Login">
                      <a href="#" class="btn btn-link">Forgot Password?</a>
                    </form>
                  </div>
                </div> <!-- end .header-login -->
              </div> <!-- end .container -->
            </div> <!-- end .header-top-bar -->
            <div class="header-nav-bar">
              <div class="container">
                <!-- Logo -->
                <div class="css-table logo">
                  <div class="css-table-cell">
                    <a href="index.html"><img src="{{ asset('img/header-logo.png') }}" alt=""></a> <!-- end .logo -->
                  </div>
                </div>
                <!-- Mobile Menu Toggle -->
                <a href="#" id="mobile-menu-toggle"><span></span></a>
                <!-- Primary Nav -->
                <nav>
                  <ul class="primary-nav">
                    <li class="active "><a href="index.html">Home</a></li>
                    <li class="has-submenu">
                      <a href="#">Jobs</a>
                      <ul>
                        <li><a href="#">Jobs Listings</a></li>
                        <li><a href="#">Jobs Details</a></li>
                      </ul>
                    </li>
                    <li class="has-submenu">
                      <a href="#">Candidates</a>
                      <ul>
                        <li><a href="#">Candidates Listings</a></li>
                        <li><a href="#">Candidates Listings Sidebar</a></li>
                        <li><a href="#">Candidates Details</a></li>
                      </ul>
                    </li>
                    <li class=""><a href="#">About Us</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </nav>
              </div> <!-- end .container -->
              <div id="mobile-menu-container" class="container">
                <div class="login-register"></div>
                <div class="menu"></div>
              </div>
            </div> <!-- end .header-nav-bar -->
            <!-- end .header-search-bar -->
          </header> <!-- end #header -->
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
          <footer id="footer">
            <div class="container">
              <div class="row">
                <div class="col-sm-3 col-md-4">
                  <div class="widget">
                    <div class="widget-content">
                      <img class="logo" src="{{ asset('img/header-logo.png') }}" alt="">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sunt illum dolore dolor vel perferendis nisi sequi laudantium porro blanditiis!</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-md-4">
                  <div class="widget">
                    <h6 class="widget-title">Navigation</h6>
                    <div class="widget-content">
                      <div class="row">
                        <div class="col-xs-6 col-sm-12 col-md-6">
                          <ul class="footer-links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Candidates</a></li>
                            <li><a href="#">Partners</a></li>
                          </ul>
                        </div>
                        <div class="col-xs-6 col-sm-12 col-md-6">
                          <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-md-2">
                  <div class="widget">
                    <h6 class="widget-title">Follow Us</h6>
                    <div class="widget-content">
                      <ul class="footer-links">
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Youtube</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-md-2">
                  <div class="widget">
                    <h6 class="widget-title">Popular Jobs</h6>
                    <div class="widget-content">
                      <ul class="footer-links">
                        <li><a href="#">Web Developer</a></li>
                        <li><a href="#">Web Designer</a></li>
                        <li><a href="#">UX Engineer</a></li>
                        <li><a href="#">Account Manager</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="copyright">
              <div class="container">
                <p>&copy; 2017 <a href="#">HR SUPER SHOP</a> | Designed by <a href="#">Quetzal Digital</a></p>
                <ul class="footer-social">
                  <li><a href="#" class="fa fa-facebook"></a></li>
                  <li><a href="#" class="fa fa-twitter"></a></li>
                  <li><a href="#" class="fa fa-linkedin"></a></li>
                  <li><a href="#" class="fa fa-google-plus"></a></li>
                  <li><a href="#" class="fa fa-pinterest"></a></li>
                  <li><a href="#" class="fa fa-dribbble"></a></li>
                </ul>
              </div>
            </div>
          </footer> <!-- end #footer -->
        {% endblock %}
      </div>
        {% block javascripts %}
          <script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
          <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
